table
{
    border-color: #ff4eaa;
    background-color: #eedaff;
    align-content: center;
    font-family: 隶书;
    color: #4fbe8a;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

table#tb1
{
    border-color: #ff4eaa;
    background-color: #eedaff;
    align-content: center;
    font-family: 华文行楷;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
a
{
    font-family: Arial;
    font-size:20px;
    color: #1aac16
}
p
{
    font-family: Arial;
    font-size:15px;
    color: #1d22ac;
    text-align: left;
    text-indent: 6em;
}

h1{
    color: #00064a;
    font-size:40px;
}

.color-lump1
{
    position:fixed;
    left: 250px;
    top: 100px;
    width: 80px;
    height: 80px;
    background-color: #ffa4ba;
}

.color-lump2
{
    position:fixed;
    left: 170px;
    top: 180px;
    width: 80px;
    height: 80px;
    background-color: #bbb9ff;
}

.color-lump3
{
    position:fixed;
    left: 170px;
    top: 20px;
    width: 80px;
    height: 80px;
    background-color: #a6ff91;
}

.box {
    display: none;
    left: 250px;
    top: 180px;
    height: 56px;
    width: 315px;
    background-color: #bbb9ff;
    padding: 12px;
    text-align: left;
    position: absolute;
    color: #00064a;
    font-family: 华文行楷;
    font-size: 30px;
    line-height:58px;
}